---
import WikiSidebar from '../../components/WikiSidebar/index.jsx';
import PageLayout from '../PageLayout/index.astro';
import { getCollection } from 'astro:content';
import styles from './WikiLayout.module.css';

const wikiEntries = await getCollection('wiki');
---

<PageLayout noLayout>
  <!-- Removed hamburger toggle -->

  <div class={styles.wikiLayout}>
    <aside class={styles.wikiSidebarContainer}>
      <WikiSidebar entries={wikiEntries} client:load="react" />
    </aside>

    <div class={styles.wikiArticle}>
      <slot />
    </div>
  </div>
</PageLayout>