---
import { getCollection, getEntry } from 'astro:content';
import PageLayout from '../layouts/PageLayout/index.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map((page) => ({
    params: { slug: page.slug },
  }));
}

const { slug } = Astro.params;
const page = await getEntry('pages', slug);
if (!page) throw new Error(`Page not found: ${slug}`);

const html = page.rendered?.html;
---

<PageLayout>
  <h1>{page.data.title}</h1>
  <article set:html={html} />
</PageLayout>
